// Import variables here in themes.

@import 'compass/css3';

// Reset
@import 'partial/reset';
@import	'partial/normalize';

// Helpers
@import 'helper/component';
@import 'helper/flex';
@import 'helper/utilities';

// Components
@import 'component/button';
@import 'component/dropdown';

@import 'component/badge';
@import 'component/navbar';
@import 'component/form';
@import 'component/flash';
@import 'component/drawer';
@import 'component/feedback';
@import 'component/sidemenu';
@import 'component/table';

@import 'component/card';

@import 'component/zindex';

body {
	background-color: #ECECEC;
}
.classui {
	&.fullheight {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}
	> .mainContent {
		flex-grow: 1;
		max-width: 100%;
		margin: auto;
		align-self: center;
		display: flex;
	}
}

// Should be placed above all.
@import 'helper/component';
