@import 'vendor/compass/css3';

// Reset

// Helpers
//@import 'partial/reset';
//@import 'partial/normalize';
@import 'helper/flex';
@import './themes';

.classui {
	background-color: #ECECEC;
}

@mixin classui_theme($theme-name) {
	$theme: map-get($themes, $theme-name) !global;

	.classui.#{$theme-name} {
		position: relative;

		&.fullheight {
			min-height: 100vh;
		}
	
		// Components
	
//		@import 'component/form';
		@import 'component/table';
	
//		@import 'component/zindex';
		// Should be placed above all.
//		@import 'helper/component';

		@content;
	}
}