@import 'vendor/compass/css3';

// Reset
@import 'partial/reset';
@import	'partial/normalize';

// Helpers
@import 'helper/flex';
@import './themes';

.classui {
	background-color: #ECECEC;
}

@mixin classui_theme($theme-name) {
	$theme: map-get($themes, $theme-name) !global;

	.classui.#{$theme-name} {
		position: relative;

		&.fullheight {
			min-height: 100vh;
		}
	
		// Components
		@import 'helper/component';
		@import 'helper/utilities';

		@import 'component/button';
		@import 'component/dropdown';
	
		@import 'component/badge';
		@import 'component/navbar';
		@import 'component/form';
		@import 'component/flash';
		@import 'component/drawer';
		@import 'component/feedback';
		@import 'component/sidemenu';
		@import 'component/table';
	
		@import 'component/card';
	
		@import 'component/zindex';
		// Should be placed above all.
		@import 'helper/component';

		@content;
	}
}