$themes: (
	fb: (
		color: #3b5998,
		color-contrast: white,
		color-dark: #355088,
		color-darker: #2f4779,
		color-darkest: #293e6a,
		color-light: #4e69a2,

		error-color: #EC5050,
		success-color: #27a15a
	),
	flat: (
		color: #27a15a,
		color-contrast: white,
		color-dark: #289254,
		color-darker: #217a45,
		color-darkest: #21663d,
		color-light: #27AE60,
	
		error-color: #c0392b,
		success-color: #27a15a
	),
	green: (
		color: #198719,
		color-contrast: white,
		color-dark: #167916,
		color-darker: #146c14,
		color-darkest: #004400,
		color-light: #2f932f,
		
		error-color: #EC5050,
		success-color: #27a15a
	),
	offline: (
		color: rgb(66, 66, 66),
		color-contrast: white,
		color-dark: rgb(30, 30, 30),
		color-darker: rgb(0, 0, 0),
		color-darkest: rgb(0, 0, 0),
		color-light: rgb(78, 78, 78),

		error-color: #EC5050,
		success-color: #27a15a
	)

)