$themes: (
	fb: (
		color: #3b5998,
		color-contrast: white,
		color-dark: #355088,
		color-darker: #2f4779,
		color-light: #4e69a2,

		error-color: #EC5050,
		success-color: #27a15a
	),
	flat: (
		color: #27a15a,
		color-contrast: white,
		color-dark: #289254,
		color-darker: #217a45,
		color-light: #27AE60,
	
		error-color: #c0392b,
		success-color: #27a15a
	),
	gcolor: (
		color: #198719,
		color-contrast: white,
		color-dark: #167916,
		color-darker: #146c14,
		color-light: #2f932f,
		
		error-color: #EC5050,
		success-color: #27a15a
	),
	offline: (
		color: #424242,
		color-contrast: white,
		color-dark: #1e1e1e,
		color-darker: #000000,
		color-light: #4e4e4e,

		error-color: #EC5050,
		success-color: #27a15a
	)

)