$themes: (
	fb: (
		color: #3b5998,
		color-contrast: white,
		color-dark: #355088,
		color-darker: #2f4779,
		color-darkest: #293e6a,
		color-light: #4e69a2,

		error-color: #EC5050,
		success-color: #27a15a
	),
	flat: (
		color: #27a15a,
		color-contrast: white,
		color-dark: #289254,
		color-darker: #217a45,
		color-darkest: #21663d,
		color-light: #27AE60,
	
		error-color: #c0392b,
		success-color: #27a15a
	)
)