@import 'compass/css3';

@import 'partial/variables';

// Reset
@import	'partial/reset';

// NavBar Component
@import 'component/navbar';
@import 'component/form';
@import 'component/card';

body {
	background-color: #F4FFF4;
}
.classui {
	.mainContent {
		background-color: white;
		padding: 10px;
		margin: auto;
	}
}