@import 'compass/css3';

@import 'partial/variables';

// Reset
@import	'partial/reset';

// NavBar Component
@import 'component/navbar';
@import 'component/form';
@import 'component/card';
@import 'component/flash';
@import 'component/button';
@import 'component/dropdown';

body {
	background-color: #F4FFF4;
}
.classui {
	.mainContent {
		margin: auto;
		height: 100%;
	}
}