@import '../partial/variables';

.hoverable_grey_component
{
	@include user-select(none);	
	cursor: pointer;
	&:hover, &:focus{
		background-color: #CCCCCC;
	}
	&.active {
		background-color: #AAAAAA;
	}
	&.disable {
		&, &:hover, &:active, &.active {
			cursor: default;
			background-color: inherit;
			color: grey;
		}
	}
}
.actionable_grey_component
{
	@extend .hoverable_grey_component;
	&:active, &.active {
		background-color: #AAAAAA;
	}
}

.hoverable_component {
	@include user-select(none);
	cursor: pointer;

	&:hover, &.active {
		background-color: $theme-color;
		color: $theme-color-contrast;
	}
	&.disable {
		&, &:hover, &:active, &.active {
			cursor: default;
			background-color: inherit;
			color: grey;
		}
	}
	.classui.offline & {
		&:hover, &.active {
			background-color: $theme-offline-color;
			color: $theme-offline-color-contrast;
		}
	}
}

.actionable_component {
	@extend .hoverable_component;
	&:active {
		background-color: $theme-color-darker;
		color: $theme-color-contrast;
	}
	.classui.offline & {
		&:active {
			background-color: $theme-offline-color-darker;
			color: $theme-offline-color-contrast;	
		}
	}
}