.hoverable_grey_component
{
	@include user-select(none);	
	cursor: pointer;
	&:hover{
		background-color: #DDDDDD;
	}
	&.active {
		background-color: #CCCCCC;
	}
	&.disable {
		&, &:hover, &:active, &.active {
			cursor: default;
			background-color: inherit;
			color: grey;
		}
	}
}
.actionable_grey_component
{
	@extend .hoverable_grey_component;
	&:hover {
		background-color: #CCCCCC;
	}
	&:active, &.active {
		background-color: #BBBBBB;
	}
}

.hoverable_component {
	@include user-select(none);
	cursor: pointer;

	&:hover, &.active {
		background-color: map-get($theme, color);
		color: map-get($theme, color-contrast);
	}
	&.disable {
		&, &:hover, &:active, &.active {
			cursor: default;
			background-color: inherit;
			color: grey;
		}
	}
}

.actionable_component {
	@extend .hoverable_component;
	&:active {
		background-color: map-get($theme, color-darker);
		color: map-get($theme, color-contrast);
	}
}