.inline-block {
	@include inline-block();
}

.noTextWrap {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.successColor {
	color: map-get($theme, success-color);
}
.errorColor {
	color: map-get($theme, error-color);
}

@mixin ui_flex-box($halign: center, $valign: center) {
	@include display-flex;
	@include justify-content($halign);
	@include align-items($valign);
}
