@import '../partial/variables';
@import '../helper/utilities';

.button, input[type='button'], input[type='submit'] {
	@extend .actionable_grey_component;
	padding: 10px;
	background-color: #DDDDDD;
	@include user-select(none);

	// Accessibility
	//min-width: 48px;

	&.flat {
		background-color: inherit;
	}

	&.disable {
		&, &:hover, &:active{
			background-color: #DDDDDD !important;
		}
	}

	&.primary {
		@extend .actionable_component;
	}

	&, &:hover, &:active {
		border-width: 0px;
		outline-width: 0px;
	}
}
