.dropdown {
	position: relative;
	@include inline-block();

	&.push-left {
		ul {
			right: 0px;
		}
	}
	&.push-right {
		ul {
			left: 0px;
		}
	}
	> ul {
		position: absolute;
		background-color: white;
		color: black;
		top: 100%;

		@extend .card-3;
		max-width: 200px;
		min-width: 150px;

		li {
			padding: 10px;
			@extend .hoverable_grey_component;
		}
	}
}