.__feedback {
	position: fixed;
	top: 0px;
	left: 50%;

	>.content {
		@include inline-block();
		position: relative;
		right: 50%;
		padding: 15px;
		min-width: 200px;
		text-align: center;
		//background-color: rgb(238, 238, 238);
		// border: 1px solid grey;

		&.error {
			background-color: rgb(255, 223, 223);
			color: rgb(201, 0, 0);
			font-weight: 900;
		}
		&.success {
			background-color: rgb(212, 255, 212);
			color: rgb(0, 119, 0);
			font-weight: 900;
		}
	}
}