@import 'compass/css3';
@import '../helper/flex';
@import '../partial/variables';

.navbar {
	position: absolute;
	height: auto;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: $theme-color;

	&.fixed {
		position: fixed;
	}

	.content {
		@include display-flex;
		@include flex-flow(row nowrap);
		@include align-items(center);
		margin: auto;
		height: 100%;
		color: white;

		.logo {
			cursor: pointer;
			@include user-select(none);
			letter-spacing: -px;
			text-shadow: 0px 0px 10px white;
			&::first-letter {
				font-size: 30px;
			}
			&:hover{
				background-color: $theme-color-dark;
			}
			text-transform: uppercase;
			padding: 7px;
			font-size: 20px;
		}
	}
}