@import 'compass/css3';
@import '../helper/flex';
@import '../partial/variables';
@import './button';

.navbar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: $theme-color;
	z-index: 10;

	&.fixed {
		position: fixed;
	}

	& > .content {
		@include display-flex;
		@include flex-flow(row nowrap);
		@include align-items(center);
		@include flex-grow(0);
		margin: auto;
		height: 100%;
		color: white;

		>.logo {
			cursor: default;
			padding: 0px 7px;
			font-size: 20px;
			text-shadow: 0px 0px 15px white, 0px 0px 15px white;
			//text-transform: uppercase;
			@include transition(all 0.3s);
			&::first-letter {
				font-size: 30px;
			}
			&:hover {
				text-shadow: 0px 0px 15px white, 0px 0px 15px white, 0px 0px 15px white;
			}
		}
		>.dummy {
			@include flex-grow(1);
		}

		.button {
			background-color: inherit;
			&:hover, &:active, &.active{
				background-color: $theme-color-darker;
			}
		}
	}
}