.__sidemenu {
	border: 1px solid #DDDDDD;
	background-color: white;
	padding: 10px 0px;

	> .header {
		padding: 0px 10px;
	}

	& > .divider {
		border-top: 1px solid grey;
		margin: 10px 5px;
	}
	& > .item {
		@extend .hoverable_grey_component;
		padding: 7px 10px;

		& > .badge {
			color: red;
			font-size: 80%;
			font-weight: 900;
		}
	}
}