.table {
	display: table;
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;

	> thead {
		> tr {
			font-weight: 900;

			> th {
				cursor: pointer;
				opacity: 0.7;
				text-transform: capitalize;
				&:hover {
					background-color: rgba(0,0,0,0.01);
					opacity: 1;
				}
			}
		}
	}

	&.hoverable {
		> tbody {
			> tr:hover{
				background-color: rgb(245, 245, 245);
			}
		}
	}

	> tbody {
		tr{
			@include transition(all 0.3s);
		}
		> tr.active {
			&:hover, & {
				background-color: $theme-color;
				color: white;	
			}
		}
	}
	> thead, > tbody {
		> tr {
			border-bottom: 1px solid #CACACA;
			text-align: left;

			> td, >th {
				padding: 7px 17px;
			}
		}
	}
}