$theme-color: rgb(66, 66, 66);
$theme-color-contrast: white;
$theme-color-dark: rgb(30, 30, 30);
$theme-color-darker: rgb(0, 0, 0);
$theme-color-darkest: rgb(0, 0, 0);
$theme-color-light: rgb(78, 78, 78);;

$theme-error-color: #EC5050;
$theme-success-color: #27a15a;