// Color palette for our theme.
$theme-color: #3b5998;
$theme-color-contrast: white;
$theme-color-dark: #355088;
$theme-color-darker: #2f4779;
$theme-color-darkest: #293e6a;
$theme-color-light: #4e69a2;
$theme-error-color: #EC5050;

$theme-offline-color: rgb(66, 66, 66);
$theme-offline-color-contrast: white;
$theme-offline-color-dark: rgb(30, 30, 30);
$theme-offline-color-darker: rgb(0, 0, 0);

@import '../main';