// Color palette for our theme.
$theme-color: #27a15a;
$theme-color-contrast: white;
$theme-color-dark: #289254;
$theme-color-darker: #217a45;
$theme-color-darkest: #21663d;
$theme-color-light: #27AE60;

$theme-error-color: #c0392b; // pomegranate
$theme-success-color: $theme-color;

$theme-offline-color: rgb(66, 66, 66);
$theme-offline-color-contrast: white;
$theme-offline-color-dark: rgb(30, 30, 30);
$theme-offline-color-darker: rgb(0, 0, 0);

@import '../main';